.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  flex-grow: 1;
  background: var(--color-background-secondary);
  border: none;
  padding: var(--spacing-1) var(--spacing-2);
  height: max-content;
  border-radius: var(--radius);
}

.search-container span {
  background: none;
  margin-left: var(--spacing-0);
  border: none;
  cursor: pointer;
  color: var(--color-text-secondary);
  font-size: 1.5rem;
}
